<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <div id='d'>
        this is cookie.html page <br>
        这是多页面开发 再config.js中定义page 的入口及模板来源，并新建对应名字的文件，
        如需符合业务逻辑，修改cookie.js中导入vue文件路径 参考main.js写法
    </div>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>

  <style>
        div{
            background-color: aqua;
        }
  </style>
</html>

